[submodule "mmaction2"]
	path = mmaction2
	url = https://github.com/jsalisburyv/mmaction2.git
	branch = tfm-custom
[submodule "video_xai"]
	path = video_xai
	url = https://github.com/jsalisburyv/video_xai.git
	branch = tfm-custom
